{% extends "attendence_system/home.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}


<div class="container">


    <div class="row">

        <div class="col-md-12 blockquote text-center shadow bg-white rounded" style="margin-top: 20px;;">
            <h1>Dashboard</h1>
            <p>Welcome to your dashboard.</p>
        </div>


        <div class="col-md-12" style="margin-top: 20px;;">
            <div class="card card-body">
                <center><h3>Record Attendence </h3></center>
                    <a href="{% url 'record_attn' %}" class="btn btn-block btn-primary">Click Here</a>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 20px;">
            <div class="card card-body">
                <center><h3>Register Employer</h3></center>
                    <a href="{% url 'register_user' %}" class="btn btn-block btn-primary">Click Here</a>
            </div>
        
        </div>
         <div class="col-md-6" style="margin-top: 20px;">
            <div class="card card-body">
                <center><h3>Register Employee</h3></center>
                    <a href="{% url 'register_employee' %}" class="btn btn-block btn-primary">Click Here</a>
            </div>
        
        </div>

        <div class="col-md-12" style="margin-top: 20px;;">
            <div class="card card-body">
                <center><h3>View Attendence</h3></center>
                    <a href="{% url 'attn_records' %}" class="btn btn-block btn-primary">Click Here</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}