{% extends "attendence_system/home.html" %}
{% block title %}Register Employer{% endblock %}
{% block content %}


<div class="row">

	<div class="col-md-12" style="margin-top: 20px;;">
		   <h2>Register Employer</h2>
  			<p>Registration Form Below</p>
    </div>

	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'dashboard' %}"> &#8592; Back to Home</a>
			
			<hr>
			<h3 style="text-align: center">Register</h3>
			<hr>

		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			<h3 class="p-3 mb-2 ">
			  New Registration !
				<br>
			  <small class="text-muted">Fill the below form</small>
			</h3>
			<div>
				<form   method="post">
					{% csrf_token %}

					
				  

				  <label for="first_name">First name:</label><br><br>
				  <input type="text" id="first_name" name="first_name"><br><br>

				  <label for="last_name">Last name:</label><br><br>
				  <input type="text" id="last_name" name="last_name"><br><br>

				  <label for="username">User Name :</label><br><br>
				  <input type="text"  name="username"> 
				  
				<br><br>

				  <label for="email">Email ID:</label><br><br>
				  <input type="text"  name="email">
				  
				<br><br>
				 
				  <label for="password1">Password :</label><br><br>
				  <input type="password"  name="password1"><br><br>
				 
				  <label for="password2">Confirm  Password:</label><br><br>
				  <input type="password"  name="password2">
				  
				  {% for message in messages %}
				<h3>{{message}}</h3>
				{% endfor %}<br><br>

				
				  <button type="submit" class="btn btn-primary">Submit</button>
				  <button type="reset" class="btn btn-primary">Reset</button>
				  <br><br>
				</form>
			</div> 
				
				


			
			
				
	</div>
</div>
{% endblock %}


